@import 'config';

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: $font-stack;
	font-size: 1rem;
	line-height: 1.6;
	background-color: $background-color;
	color: $text-color;
}

a {
	color: $primary-color;
	text-decoration: none;

	&:hover {
		color: $dark-color;
	}
}

ul {
	list-style: none;
}

img {
	width: 100%;
}

button {
	font: inherit;
}

input {
	margin: 1.2rem 0;

	[type='text'],
	[type='email'],
	[type='password'],
	[type='date'] {
		display: block;
		width: 100%;
		padding: 0.4rem;
		font-size: 1.2rem;
		border: 1px solid $border-color;
	}

	[type='submit'] {
		font: inherit;
	}
}

select,
textarea {
	display: block;
	width: 100%;
	padding: 0.4rem;
	font-size: 1.2rem;
	border: 1px solid $border-color;
	resize: none;
}

table {
	th,
	td {
		padding: 1rem;
		text-align: left;
	}

	th {
		background: $light-color;
	}
}

#editor {
	font-size: small;
	border-radius: $border-radius;
	box-shadow: $box-shadow;
}

#preview {
	overflow: hidden;
	word-wrap: break-word;
	padding-left: 0.5rem;
	border-radius: $border-radius;
	box-shadow: $box-shadow;

	ol li {
		display: list-item;
		list-style: inside decimal;
	}

	ul li {
		display: list-item;
		list-style: inside square;
	}

	blockquote {
		display: block;
		margin-top: 1em;
		margin-bottom: 1em;
		margin-left: 40px;
		margin-right: 40px;
	  }

	  img {
		  height: 150px;
		  width: 150px;
	  }
}

@import 'utilities';
@import 'buttons';
@import 'text-styles';
@import 'forms';
@import 'navbar';
@import 'animations';

@import 'mediaqueries';
